body {
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  background-color: #eef9bf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #75b79e;
}

.title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.parrot-place {
  width: 80%;
  margin: auto 0;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 25px;
}

.parrot-place > * {
  flex: 0 1 120px;
}
.card {
  height: 146px;
  width: 117px;
  border-radius: 5px;
  background-color: #a7e9af;
  border: 1px solid #99cea8;
  margin-left: 35px;
  margin-top: 35px;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.7s ease-in;
}

.front-face {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-face img {
  width: 100%;
  height: 100%;
}
.back-face img {
  width: 100%;
  height: 100%;
}

.back-face {
  transform: rotateY(180deg);
}

.card:hover .back-face {
  transform: rotateY(0deg);
}

.card:hover .front-face {
  transform: rotateY(-180deg);
}

@media (max-width: 414px) {
  header h1 {
    font-size: 36px;
  }
  .parrot-place {
    justify-content: center;
  }
  .card {
    margin: 15 auto;
  }
}
